<div id="magikode-header" class="jumbotron">
	<div class="magikode-welcome">
		Welcome to <span class="magikode-logo">Magikode</span>
	</div>
</div>
<div class="panel panel-default" id="magikode-instructions">
	<div class="panel-heading">Instructions</div>
	<div class="panel-body"></div>
</div>
<div class="panel panel-default" id="magikode-work">
	<div class="panel-heading">
		You're Up
	</div>
	<span>Code your function in the box below.<br />
		Remember to name it "myFunction" and click the "All done!" button when ready.</span>
	<div class="panel-body"></div>
</div>
